#navbar{
   text-align:center; 
}

#navbar li{
    display:inline-block;
    border: 3px solid black;
    background-color: blue;
    font-size: 20px;
    transform: 0.5s all linear;
}

#navbar a{
    
}

.Picture {
    display:block;
    margin-left: auto;
    margin-right: auto
}
.button {
    position:absolute;
    top:90%;
    left:90%;
}
.button1 {
    position:absolute;
    top:90%;
    left:0%;
}